<mat-card class="post-main-container">
  <div class="post-information-container" fxLayout="column">
    <mat-card-title fxLayout="row" fxLayoutAlign="space-between center" class="post-header">
      <h1 class="limit-one-line">{{post.title}}</h1>
      <a mat-icon-button aria-label="Content Source Link" href={{post.link}} target="_blank">
        <mat-icon>open_in_new</mat-icon>
      </a>
    </mat-card-title>

    <img src={{post.image}} alt="Post Header Image" (error)="hideImage($event)">

    <mat-card-subtitle>
      <h3 class="limit-one-line">{{post.subTitle}}</h3>
    </mat-card-subtitle>

    <mat-card-content class="post-body">
      <p>{{post.body}}</p>
    </mat-card-content>

    <button mat-raised-button color="primary" (click)="openFocusView()">View Post</button>
  </div>

  <div class="post-comment-form-container" fxLayout="column" fxLayoutAlign="end center">

    <!-- Reactive Form for Commenting (Keeps track of comment value to enable username field) -->
    <form fxLayout="column" fxLayoutAlign="end center" [formGroup]="commentForm" (ngSubmit)="submitComment()">
      <mat-form-field color="accent" *ngIf="commentHasText">
        <mat-label>Want to add a username?</mat-label>
        <input matInput placeholder="Username (optional)" formControlName="username" maxlength="50">
      </mat-form-field>

      <div>
        <mat-form-field class="comment-input" color="accent">
          <mat-label>Add a Comment</mat-label>
          <input matInput placeholder="This post reminds me of..." formControlName="comment" maxlength="200">
        </mat-form-field>
        <button mat-flat-button color="primary" class="comment-send-btn">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </form>

  </div>
</mat-card>