// Main container:
.focus-view-main-container {
    background-color: #688181;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;

    img {
        overflow: hidden;
        width: 50%;
        height: auto;
        object-fit: contain;
        background-color: teal;
    }
}

/* Left half of Dialog: Content and comments */
.focus-left-half {
    overflow-y: auto;
    overflow-x: hidden;
    width: 50%;
}

.focus-text-container {
    background-color: #424242;
    
    padding: 1em;

    h3 {
        margin: 0;
    }
    p {
        text-align: justify;
    }
}

.focus-comment-container {
    padding: 1em;

    h3 {
        margin: 0 0 10px;
    }
    p {
        margin-top: 2em;
        text-align: center;
        color: rgb(179, 179, 179);
    }
}
