<!-- Focus view of posts - It is implemented inside the dialog that appears when the "View Post" button of a post is pressed -->
<h1 mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
    {{post.title}}
    <a mat-icon-button aria-label="Content Source Link" href={{post.link}} target="_blank">
        <mat-icon>open_in_new</mat-icon>
    </a>
</h1>
<div mat-dialog-content class="focus-view-main-container" fxLayout="row">
    <div #leftHalf fxLayout="column" class="focus-left-half" (scroll)="scrollToFetchComments()">
        <div class="focus-text-container">
            <h3 class="limit-one-line">{{post.subTitle}}</h3>
            <p>{{post.body}}</p>
        </div>
        <div class="focus-comment-container">
            <h3>Comments: </h3>
            <app-comment-form [post]="post" [focusView]="true" [replyingTo]="commentToReply"
                (commentSubmitted)="getComments(true)"></app-comment-form>

            <p  *ngIf="comments.length === 0">- It's a little quiet here. Be the first comment! -</p>

            <app-comment *ngFor="let comment of comments" [comment]="comment" [isReply]="false"
                (replyButtonPressed)="onReplyToComment(comment)"
                (deleteButtonPressed)="onDeleteComment($event)"></app-comment>
        </div>
    </div>
    
    <img src={{post.image}} alt="Post Header Image" >
</div>