<!-- Main component of page -->
<div class="mat-typography" fxLayout="column" fxFlex fxFill>
  <div class="no-posts-container" fxLayout="column" fxLayoutAlign="center center" *ngIf="posts.length === 0">
    No posts at the moment!
  </div>

  <div #postContainer fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2em" [class.post-container]="posts.length > 0"
    (scroll)="scrollToFetch()" (wheel)="scrollWithWheel($event)">
    <app-post-light-view *ngFor="let post of posts" [post]="post"></app-post-light-view>
  </div>

  <app-footer></app-footer>
</div>
