* {
  word-wrap: break-word; // In case users enter big words. So that they are broken and don't horizontally overflow
}

// Container of posts (Light view) on main page:
.post-container {
  background-color: rgb(47, 141, 141);
  height: 94.5vh;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1.5em;
}

// Container of element informing that there are no posts:
.no-posts-container {
  height: 94.5vh;
}

/* Reusable Custom scrollbar: */
::-webkit-scrollbar {
  width: 0.4em;
  height: 1em;
  background-color: #011d28;
}
::-webkit-scrollbar-thumb {
  background-color: lightcoral;
  border-radius: 10px;
}